@import '../main.scss';

#about {
  text-align: center;
  background-color: #fc8621;
  padding-bottom: 5%;
  
  .about-title {
    font-size: 3em;
    padding-top: 5%;
    padding-bottom: 2%;
  }

  .about-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    @media screen and (max-width: 767px) {
      justify-content: center;
    }

    .about-text {
      width: 76%;
      padding-top: 2%;

      @media screen and (max-width: 767px) {
        width: 90%;
        font-size: 14px;
      }
    }

    .about-img {
      width: 20%;
      border-radius: 100%;
      margin-right: 2%;

      @media screen and (max-width: 767px) {
        width: 80%;
      }
    }
  }
}