@import '../main.scss';

#projects {
  margin-bottom: 5%;
  margin-top: 5%;
  display: flex;
  justify-content: center;

  .projects-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 95%;
  }
  
  .img-container {
    width: 30%;
    overflow: hidden;
    margin: 0.5em;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);

    @media screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
      width: 80%;
    }

    img {
      width: 100%;
      transition: all 500ms ease-in;
      transform: scale(1);
  
      &:hover {
        transition: all 500ms ease-in;
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }
}

h1 {
  text-align: center;
  padding-top: 3%;
  color: #fc8621;
  font-size: 3em;
}

.modal-90w {
  max-width: 80%;
  text-align: center;

  @media screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
    max-width: 100%;
  }

  .modal-title {
    font-size: 3em;
    color: #fc8621;
  }

  .about-project {
    text-align: left;
    margin: 3.5rem;
    font-size: 1.5rem;

    @media screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
      font-size: 14px;
    }
  }
  
  .modal-img {
    width: 90%;
  }
}